.chrome-extension__auto-gen-qr-code {
	all: initial;
	position: fixed;
	z-index: 999999;
}

.chrome-extension__auto-gen-qr-code.rt {
	top: 120px;
	right: 20px;
}

.chrome-extension__auto-gen-qr-code.rb {
	bottom: 120px;
	right: 20px;
}

.chrome-extension__auto-gen-qr-code.lt {
	top: 120px;
	left: 20px;
}

.chrome-extension__auto-gen-qr-code.lb {
	bottom: 120px;
	left: 20px;
}
